<html>
    <title>MSMSC submission</title>
    <head><center><h1>Thank you!</h1></center></head>
    <script>setTimeout(function(){window.location.href="/"},30000);</script>
    <script>
            window.location.hash="no-back-button";
            window.location.hash="Again-No-back-button";//again because google chrome don't insert first hash into history
            window.onhashchange=function(){window.location.hash="no-back-button";}
    </script> 
    <!-- <script type="text/javascript">
        window.history.forward();
        function noBack()
        {
            window.history.forward();
        }
    </script>
    <script type="text/javascript">
        window.onbeforeunload = function() {
            return "Dude, are you sure you want to leave? Think of the kittens!";
        }
    </script> -->
    <body onLoad="noBack();" onpageshow="if (event.persisted) noBack();" onUnload=""><center> Your submission has been recorded. You will be redirected to the home page in 50 seconds. </center></body>
</html>